<footer id="footer">

  <div class="container">

    <div class="row">

      <div class="col-sm-6">
        <h2 class="text-lg">{{ site.tagline[page.lang] }}</h2>
      </div>

      <div class="col-sm-6">

        <div class="row">

          <ul class="text-sm col-sm-6">
            <li>
              <a href="{{ site.about_url[page.lang] }}" target="_blank">{{ site.about[page.lang] }}</a>
            </li>
            <li>
              <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
          </ul>

          <ul class="text-sm col-sm-6">
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>
            </li>
            <li>
              <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">Facebook</a>
            </li>
            <li>
              <a href="https://github.com/{{ site.github_username }}" target="_blank">Github</a>
            </li>
          </ul>
        </div>

        <form action="{{ site.newsletter_url[page.lang] }}" method="post" id="mc-embedded-subscribe-form" class="newsletter-form" name="mc-embedded-subscribe-form" target="_blank">
          <div aria-hidden="true" class="hidden"><input type="text" name="{{ MAILCHIMP_UUID }}" tabindex="-1" value=""></div>
          <label for="mce-EMAIL" class="text-xs">{{ site.newsletter[page.lang] }}</label>
          <div>
            <input type="email" value="" name="EMAIL" required id="mce-EMAIL" placeholder="{{ site.email[page.lang] }}"><input type="submit" value="{{ site.subscribe[page.lang] }}" name="subscribe" id="mc-embedded-subscribe">
          </div>
        </form>

      </div>

    </div>

  </div>

</footer>

<script src="{{ site.url }}/js/jquery-3.2.0.min.js"></script>
<script src="{{ site.url }}/js/bootstrap.min.js"></script>
