<header>
  <nav class="navbar" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    <div class="container">
      <div class="navbar-header">
        <a href="https://www.erudit.org" title="erudit.org">{% include logo-erudit.svg %}</a>
        <button class="navbar-toggle toc-menu" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
      </div>
    </div>

    <div class="navbar-collapse collapse row">
      <h2 class="sr-only">{{ site.toc[page.lang] }}</h2>
      <ul class="nav navbar-nav">
        <li>
          <a href="#couverture">{{ site.cover_page[page.lang] }}</a>
        </li>
        {% assign sections=site.sections | where:"lang", page.lang | sort: 'order' %}
        {% for section in sections %}
        <li>
          <a href="#{{ section.ref }}">{{ section.title }}</a>
        </li>
        {% endfor %}
        <li class="menu-header">{{ site.share[page.lang] }}</li>
        <li class="menu-share">
          <a href="http://twitter.com/share?text={{ site.title[page.lang] }} – {{ site.subtitle[page.lang] }}&url={{ site.url }}" target="_blank">Twitter</a>
        </li>
        <li class="menu-share">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}" target="_blank">Facebook</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
