/**
* En quelques chiffres section (2)
*/
#en-quelques-chiffres {

  h2 {
    margin-top: 30px;
  }

  h3 {
    @extend .text-sm;
  }

  h4 {
    clear: both;
    @extend .text-xl;
  }

  a {
    @include hover-link(#000);
  }

  .intro {
    @extend .col-sm-8;
    @extend .col-md-6;
  }

  // Publications sub-section
  #publications + ul {
    @extend .col-xs-12;

    > li {
      border-top: 1px solid $coral;
      padding: 15px;
      padding-bottom: 40px;

      &:nth-child(odd) {
        @extend .text-xl;
        @extend .col-sm-7;
        padding-left: 0;

        @media (max-width: $screen-xs-max) {
          padding-bottom: 10px;
        }

      }

      &:nth-child(even) {
        @extend .text-sm;
        @extend .col-sm-5;
        padding-left: 0;

        @media (max-width: $screen-xs-max) {
          border: 0;
          padding-top: 0;
        }

      }

      > ul {
        @extend .text-xs;
      }

    }

  }

  // Nouvelles revues sub-section

  #nouvelles-revues {
    @extend .col-md-5;

    + p {
      @extend .col-md-7;

     + ul {
       @extend .col-xs-12;

       h4 {
         border: none;
         @extend .text-xs;
         @extend .col-md-3;
         padding-left: 0;

         a {
           color: #000;
         }

       }

       > li {
         display: block;
         clear: both;
         border-top: 1px solid $dark-grey;
         padding-top: 10px;


         > ul li {
           color: $dark-grey;

           &:nth-child(1) {
             @extend .col-md-4;
             padding-left: 0;
           }

           &:nth-child(2) {
             @extend .col-md-5;
             margin-bottom: 20px;
             padding-left: 0;

             @media (max-width: $screen-sm-max) {
               margin-top: 15px;
             }

           }

         }

       }

     }

   }

  }

  // Services sub-section
  .service {
    margin-bottom: 50px;
    @extend .clearfix;

    > li {
      border-top: 1px solid $coral;

      @media (max-width: $screen-xs-max) {
        clear: both;
      }

      ul {
        @extend .text-xs;
        clear: both;
      }

    }

    &#edition,
    &#diffusion {

      > li {
        @extend .col-sm-6;

        &:nth-child(1),
        &:nth-child(2) {
          padding-right: 10%;
          padding-top: 20px;
          @extend .text-xl;
        }

        &:nth-child(1) li {
          @extend .text-xs;
        }

        &:nth-child(2) {

          li {
            @extend .text-sm;
          }

          @media (max-width: $screen-sm-max) {
            border: none;
          }

        }

      }

    }

    &#diffusion {

      ol {
        margin-left: 20px;
        list-style: decimal;

        li {
          padding-left: 15px;
        }

      }

      // Section Partenariats
      > li:nth-child(3) {
        border: none;
        margin-top: 30px;
        @extend .col-xs-12;
        clear: both;

        h5 {
          @extend .sr-only;
        }

        > ul {
          @extend .row;
          border: none;

          > li {
            @extend .col-sm-6;
            color: #000;

            ul {
              color: $dark-grey;
            }

            @media (max-width: $screen-xs-max) {
              margin-top: 20px;
            }

          }

        }

      }

    }

    &#commercialisation,
    &#autres {

      h4 {
        padding-top: 20px;
        @extend .col-xs-12;
      }

    }

    &#commercialisation {

      > li > ul > li {
        margin-top: 30px;
        @extend .col-md-6;

        &:nth-child(1),
        &:nth-child(2) {
          padding-right: 10%;
          @extend .text-xl;

          li {
            @extend .text-xs;
          }

        }

        // Section 4 ententes majeures
        &:nth-child(3) {
          margin-top: 50px;
          @extend .col-xs-12;
          clear: both;
          color: #000;

          h5 {
            padding: 0;
            @extend .text-sm;
          }

          dl {
            @extend .row;
            padding-top: 20px;
            clear: both;

            dt {
              line-height: 1;
              @extend .text-md;
              @extend .col-sm-4;
            }

            dd {
              @extend .col-sm-8;
              padding-right: 25%;
              color: $dark-grey;
              margin-bottom: 50px;

              @media (max-width: $screen-sm-max) {
                padding-right: 0;
              }

            }

          }

        }

      }

    }

    &#autres {

      dl {
        clear: both;

        dt {
          color: #000;
          line-height: 1;
          @extend .col-sm-4;
        }

        dd {
          @extend .col-sm-8;
          padding-right: 25%;
          color: $dark-grey;
          margin-bottom: 50px;

          @media (max-width: $screen-sm-max) {
            padding-right: 0;
          }

        }

      }

    }

  }

}
