/**
* Notre organisme section (4)
*/
#notre-organisme {

  h3 {
    color: $coral;
    @extend .col-xs-12;
    @extend .text-sm;
    @include border-bottom($coral);
  }

  h4 {
    color: $coral;
    @extend .col-xs-12;
  }

  a {
    color: #000;
    @include hover-link(#000);
  }

  .intro {
    margin-top: 30px;
    color: $coral;
    @extend .col-xs-9;
  }

  .communications + ul {
    margin-bottom: 35px;
    @extend .col-xs-12;

    > li {

      h5 {
        color: #000;
        @extend .col-md-3;
        @extend .text-xs;
        padding: 15px 0;
        border-top: 1px solid $dark-grey;
      }

      > ul {

        li {
          color: $dark-grey;
          @extend .text-xs;
          border-top: 1px solid $dark-grey;

          &:nth-child(1) {
            @extend .col-md-3;
            padding: 15px 0;
          }

          &:nth-child(2) {
            @extend .col-md-6;
            padding: 15px 0;
          }

        }

      }

    }

  }

  #videos {

    iframe {
      margin-bottom: 15px;
    }

    > li {
      @extend .col-sm-6;
      @extend .col-md-4;
      margin-bottom: 35px;

      li {

        &:nth-child(1) {
          @extend .text-sm;
        }

        &:nth-child(2) {
          color: $dark-grey;
          @extend .text-xs;
        }

      }

    }

  }

  // Équipe et gouvernance section
  .roles {
    @extend .col-xs-12;
    margin-top: 30px;
    margin-bottom: 45px;

    dt:not(:first-of-type) {
      margin-top: 30px;
    }

    dd {
      color: $dark-grey;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid-column;
      display: table;
    }

  }

  .notre-equipe,
  .conseil-admin {
    @extend .text-sm;
    @extend .col-md-4;
  }

  .conseil-admin {

    dd {
      @extend .text-xs;
    }

  }

  #observateurs-membres {
    clear: both;

    h5 {
      @extend .text-sm;
    }

    > li {
      @extend .col-sm-6;
      @extend .col-md-4;
      @extend .text-xs;

      ul > li {
        margin-bottom: 20px;

        li {
          color: $dark-grey;
        }

      }

    }

  }


}
