/**
* Bilan financier section (05)
*/
#bilan-financier {

  h3 {
    @extend .text-lg;
    @extend .col-md-4;
    margin-top: 30px;

    + ul {
      @extend .col-md-8;
      @extend .hidden-sm;
      @extend .hidden-xs;

      li {
        @extend .text-sm;
        @extend .col-md-6;
        text-align: right;
        margin-top: 30px;
        line-height: 75px;
      }

    }

  }

  h4 {
    @extend .text-sm;
  }

  .intro {
    @extend .col-xs-12;
    @extend .text-sm;
  }

  #produits,
  #charges,
  #bilan {
    @extend .col-md-12;

    > li {
      clear: both;

    }

    h4,
    ul {
      @include border-top($dark-grey);

      @media (max-width: $screen-sm-max) {
        margin-top: 15px;
      }

    }

    ul:before {

      @media (max-width: $screen-sm-max) {
        border: none;
      }

    }

    h4 {
      @extend .col-md-4;
      padding-left: 0;
    }

    ul li {
      @extend .col-md-4;
      @extend .text-sm;
      text-align: right;

      &:nth-child(1) {
        color: $coral;
      }

      &:nth-child(2) {
        @extend .hidden-sm;
        @extend .hidden-xs;
      }

      &:after {
        content: ' $';
      }

    }

  }

}
