/**
* Bilan financier section (05)
*/
#bilan-financier {

  h3 {
    @extend .text-lg;
    margin-top: 30px;
  }

  h4 {
    @extend .text-sm;
  }

  .intro {
    @extend .col-xs-12;
    @extend .text-sm;
  }

  .graph-bilan {
    @extend .col-md-5;
    text-align: center;
  }

  #produits,
  #charges,
  #deficit-net {
    @extend .col-md-7;

    > li {
      clear: both;
    }

    h4,
    ul {
      @include border-top($dark-grey);

      @media (max-width: $screen-sm-max) {
        margin-top: 15px;
      }

    }

    ul:before {

      @media (max-width: $screen-sm-max) {
        border: none;
      }

    }

    h3, h4 {
      @extend .col-md-8;
      padding-left: 0;
    }

    ul li {
      @extend .col-md-4;
      @extend .text-sm;
      text-align: right;

      &:nth-child(2) {
        color: $coral;
      }

    }

  }

}
