/**
* Partenaires section (6)
*/
#partenaires {

  h2 {
    border-top: 1px solid $coral;
    padding: 0.5em 0;
    margin-top: 0.5em;
  }

  h3 {
    @extend .col-sm-6;
    @extend .col-md-4;
  }

  #universites-associees,
  #autres-partenaires {
    @extend .col-sm-6;
    @extend .col-md-8;

    li {
      margin-bottom: 40px;
    }

  }

  #autres-partenaires {

    li {
      @extend .col-sm-6;
      @extend .col-md-4;

      // Row alignment for different viewport sizes / responsive
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        &:nth-child(2n+1) {
          clear: both;
        }
      }

      @media (min-width: $screen-md-min) {
        &:nth-child(3n+1) {
          clear: both;
        }
      }

    }

  }

}
