/**
* Background images and colours for all sections
*/
#couverture {
  background-color: #fff;
  background-image: url("../img/bg-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#presentation {
  background-color: $coral;
  color: #fff;

  &:before {
    background-color: #fff;
    background-image: url("../img/bg-02.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 600px;
    content: " ";
    display: block;
  }

}

#en-quelques-chiffres {
  background-color: $light-grey;
  color: $coral;

  &:before {
    background-image: url("../img/bg-03.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    width: 100%;
    height: 400px;
    content: " ";
    display: block;
  }

  &:after {
    background-image: url("../img/bg-04.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 600px;
    content: " ";
    display: block;
  }

}

#grandes-reussites {
  background-color: $marine;
  color: #fff;
}

#notre-organisme {
  background-color: #fff;
  color: #000;

  &:before {
    background-image: url("../img/bg-05.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 600px;
    content: " ";
    display: block;
  }

  &:after {
    background-image: url("../img/bg-06.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 600px;
    content: " ";
    display: block;
  }

}

#bilan-financier {
  background-color: $light-grey;
  color: #000;
  margin-top: -100px;
}

#partenaires {
  background-color: #fff;
  color: $coral;

  &:before {
    background-image: url("../img/bg-07.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 600px;
    content: " ";
    display: block;
    margin-top: -300px;
  }

  &:after {
    background-image: url("../img/bg-08.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 600px;
    content: " ";
    display: block;
  }

}

#footer {
  background-color: $coral;
  color: #fff;
}
