#cover-page {

  h1 {
    color: $coral;
    top: 80vh;
    position: relative;
    width: 300px;
  }

}

#presentation {

  h2 {
    @extend .sr-only;
  }

  h3 {
    @extend .text-sm;
  }

}

#en-quelques-chiffres {

  h2 {
    margin-top: 30px;
    
  }

  h3 {
    @extend .text-sm;
  }

  h4 {
    padding: 0;
    @extend .text-xl;
  }

}

#grandes-reussites {
  counter-reset: achievements;

  h3::before {
    counter-increment: achievements;
    content: counter(achievements);
    display: block;
  }

}

#notre-organisme {

  h4 {
    color: $coral;
    border-top: 1px solid $coral;
    padding-top: 0.5em;
  }

}

#bilan-financier {

}

#partenaires {

  h2 {
    border-top: 1px solid $coral;
    padding: 0.5em 0;
    margin-top: 0.5em;
  }

}
