/**
* Site header
*/
header .navbar {
  background: transparent;
  z-index: 10;

  h1 {
    line-height: 55px;
    margin: 0;
  }

  a {
    color: #000;
  }

  .dropdown {
    display: block;
    height: 28px;
    width: 28px;
  }

  .switch-lang a {
    display: inline-block ;
  }

  .toc-menu {
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    display: block;
    width: 30px;
    height: 55px;

    > .bar {
      display: block;
      position: absolute;
      height: 2px;
      width: 28px;
      background: #000;
      opacity: 1;
      left: 0;
      @include transform-origin(left center);
      @include transition(.3s ease-in-out);

      &:nth-child(1) {
        left: 0;
        top: 15px;
        @include rotate(0deg);
      }
      &:nth-child(2) {
        top: 25px;
        width: 28px;
        opacity: 1;
        @include rotate(0deg);
      }
      &:nth-child(3) {
        left: 0;
        top: 35px;
        @include rotate(0deg);
      }

    }

  }

}


/**
* General section styles
*/
section {

  h2 {
    @extend .text-lg;
  }

  h3 {
    @extend .col-xs-12;
  }

  hr {
    width: 100%;
    margin: 2em 0;
    border-top: 1px solid transparent;
  }

}
