/**
* Site header
*/
.site-header {
  background: transparent;
  height: 85px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;

  .switch-lang {
    display: inline-block;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  background-color: transparent;
  text-align: right;

  .menu-icon {
    display: inline-block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg {
      width: 18px;
      height: 15px;

      path {
        fill: $grey-color-dark;
      }
    }
  }

  .trigger {
    clear: both;
    display: none;
    background: #FFF;

    h2 {

    }

  }

  &:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    display: block;
    padding: 5px 10px;

    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }
}


section {

  h2 {
    @extend .text-lg;
  }

  h3 {
    @extend .col-xs-12;
  }

  hr {
    width: 100%;
    margin: 2em 0;
    border-top: 1px solid transparent;
  }

}
