/**
* Site header / navbar
*/
.navbar {
  width: 100%;
  background-color: transparent;
  z-index: 10;
  position: fixed;

  h1 {
    margin: 0;
    font-size: 16px;
    line-height: 50px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    color: #fff;

    @media (max-width: $screen-xs-max) {
      display: none;
    }

  }

  .navbar-header {
    float: none;

    a {
      margin-top: 10px;
      height: 33px;
    }

    path, rect {
      fill: #fff;
    }

  }

  &.affix {
    background-color: #fff;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    @include box-shadow(0 3px 5px rgba(0, 0, 0, .1));

    h1 {
      color: #000;
    }

    path, rect {
      fill: $coral;
    }

  }

  .switch-lang a {
    display: inline-block ;
    color: #000;
  }

  // Override default Bootstrap navbar to show collapsed nav on desktop
  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

    &.collapse {
      display: none!important;

      &.in{
        display:block !important;
      }

    }

  }

  .navbar-nav {
    background-color: $coral;
    font-size: 24px;
    top: 50px;
    border: 1px solid #fff;
    padding: 0;
    float: none!important;
    margin-top: 7.5px;

    > li {
      float: none;

      a {
        padding: 15px;
        color: #fff;

        &:hover, &:focus, &:active {
          background: #fff;
          color: $coral;
        }

      }

      &.menu-share {
        float: left;
        width: 50%;

        a {
          text-align: center;
        }

      }

      &.menu-header {
        border-top: 1px solid #fff;
        font-size: 16px;
        color: #fff;
        padding: 10px;
        text-align: center;
      }

    }

  }

  // hamburger menu
  .toc-menu {
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    display: block;
    width: 30px;
    height: 50px;
    margin: 0;

    > .bar {
      display: block;
      position: absolute;
      height: 2px;
      width: 28px;
      background: #000;
      opacity: 1;
      left: 0;
      @include transform-origin(left center);
      @include transition(.3s ease-in-out);

      &:nth-child(1) {
        left: 0;
        top: 15px;
        @include rotate(0deg);
      }
      &:nth-child(2) {
        top: 25px;
        width: 28px;
        opacity: 1;
        @include rotate(0deg);
      }
      &:nth-child(3) {
        left: 0;
        top: 35px;
        @include rotate(0deg);
      }

    }

  }

}


/**
* General section styles
*/
section {

  h2 {
    @extend .text-lg;
  }

  h3 {
    @extend .col-xs-12;
  }

  hr {
    width: 100%;
    margin: 2em 0;
    border-top: 1px solid transparent;
  }

}
